<!DOCTYPE html>
<html>
<head>
<%- include ../partials/head %>
</head>
<body>
 <div id="wrapper">
   <%- include ../partials/sidebar %>
  <div id="page-wrapper" class="gray-bg custom-bg">
   <%- include ../partials/topbar %>
<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-10">
      <h2>Admin</h2>
      <ol class="breadcrumb">
         <li>
            <a href="/dashboard">home</a>
         </li>
         <li>
            <a href="/moods">Moods</a>
         </li>
         <li class="active">
            <strong>Add Video</strong>
         </li>
      </ol>
   </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
   <div class="col-lg-12">
      <div class="ibox float-e-margins">
         <div class="ibox-title">
            <h5 style="color:#1F7FAD;">Add Video</h5>
         </div>
         <div class="ibox-content">
            <form class="form-horizontal add-form" id="myForm" action="/add-video" method="post" enctype='multipart/form-data'>
               <div class="form-group">
                  <label class="col-md-3 control-label" for="mood-id">moods</label>
                     <div class="col-md-9">
                        <select class="form-control" id="select-mood" multiple="multiple" name="mood_id" required>
                                <% moods.forEach(data => { %>
                                  <option value="<%= data.attributes.id %>"> <%= data.attributes.name %> </option>
                                <% }) %>
                        </select>
                     </div>
               </div>         
               <div class="form-group">
                  <label class="col-lg-3 control-label">Video</label>
                  <div class="col-lg-9">  <input type="file" required name="image" class="form-control">
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-3 control-label">Video Thumb</label>
                  <div class="col-lg-9">  <input type="file" required name="thumb" class="form-control">
               </div>
               <input type="hidden" id="timezone" name="timezone" value="">
               </div> 
              <div class="form-group">
                  <label class="col-lg-3 control-label">Title</label>
                  <div class="col-lg-9">  <input type="text" required name="title" class="form-control">
                  </div>
               </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label">Description</label>
                  <div class="col-lg-9">  <input type="text" name="description" class="form-control">
                  </div>
               </div>          
               <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10 text-center">
                     <button class="btn btn-sm btn-primary" type="button" onclick="checkForm();">Submit</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
      <%- include ../partials/footer %>
   </div>
</div>
<%- include ../partials/script %>
<script type="text/javascript">
    $(document).ready(function() {
        $('#select-mood').multiselect();
        var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        $('#timezone').val(timezone);
    });
</script>

<script>
function checkForm(){
   var a=document.forms["myForm"]["mood_id"].value;
   var aval = a.replace(/\s/g, "");
   var alen = aval.length;
   var b=document.forms["myForm"]["image"].value;
   var bval = b.replace(/\s/g, "");
   var blen = bval.length;
   var c=document.forms["myForm"]["thumb"].value;
   var cval = c.replace(/\s/g, "");
   var clen = cval.length;
   var d=document.forms["myForm"]["title"].value;
   var dval = d.replace(/\s/g, "");
   var dlen = dval.length;

   if(alen==0 || blen==0 || clen==0 || dlen==0)
   {
     alert("Please Fill All The Required Fields");            
   }
   else{
      $('#myForm').submit();
   }
}
</script>
</body>
</html>
