<!DOCTYPE html>
<html>
<head>
   <%- include ../partials/head %>
</head>
<body>
  <div id="wrapper">
   <%- include ../partials/sidebar %>
   <div id="page-wrapper" class="gray-bg">
      <%- include ../partials/topbar %>
<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-10">
      <h2>Admin</h2>
      <ol class="breadcrumb">
         <li>
            <a href="/dashboard">home</a>
         </li>
         <li class="active">
            <strong>Change Password</strong>
         </li>
      </ol>
   </div>
</div>

<% if(error){ %>
   <div class="alert alert-danger alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <ul>
         <li><%= error %></li>
      </ul>
   </div>
<% } %>

<% if(success) { %>
<div class="alert alert-success alert-dismissable">
   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
   <%= success %>
</div>
<% } %>

<div class="wrapper wrapper-content animated fadeInRight">
   <div class="col-lg-12">
      <div class="ibox float-e-margins">
         <div class="ibox-title">
            <h5 style="color:#1F7FAD;">Change Password</h5>
         </div>
         <div class="ibox-content" style="width: 100%;float: left;">
            <form class="form-horizontal" id="myForm" action="/change-password" method="post" >
        
               <div class="form-group">
                  <label class="col-lg-4 control-label">Old Password</label>
                  <div class="col-lg-8">  <input type="password" name="old_password"  placeholder="Enter current password" class="form-control" required="">
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-4 control-label">New Password</label>
                  <div class="col-lg-8">  <input type="password" name="new_password"  placeholder="Enter new password" class="form-control" required="">
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-4 control-label">Confirm Password</label>
                  <div class="col-lg-8">  <input type="password" name="confirm_password"  placeholder="Enter confirm password" class="form-control" required="">
                  </div>
               </div>               
               <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                     <button class="btn btn-sm btn-primary" type="button" onclick="checkForm();">Submit</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<%- include ../partials/footer %>
</div>
</div>
<%- include ../partials/script %>
<script>
function checkForm(){
   var a=document.forms["myForm"]["old_password"].value;
   var aval = a.replace(/\s/g, "");
   var alen = aval.length;
   var b=document.forms["myForm"]["new_password"].value;
   var bval = b.replace(/\s/g, "");
   var blen = bval.length;
   var c=document.forms["myForm"]["confirm_password"].value;
   var cval = c.replace(/\s/g, "");
   var clen = cval.length;
   // if(alen==0 || blen==0 || clen==0)
   // {
   //   alert("Please Fill All The Required Fields");            
   // }
   // else{
      if(bval !== cval){
         alert('New password fields do not match');
      } else {
         $('#myForm').submit();
      }  
   // }
}
</script>
