<!DOCTYPE html>
<html>
<head>
<%- include ../partials/head %>
</head>
<body>
 <div id="wrapper">
   <%- include ../partials/sidebar %>
  <div id="page-wrapper" class="gray-bg">
	<%- include ../partials/topbar %>
    <%- include ../pages/dashboard %>
    <%- include ../partials/footer %>
  </div>
 </div>
<%- include ../partials/script %>
</body>
</html>
